<header class="content-header">
  <% if normal_user? %>
      <%= link_to 'Volver', alfabeta_updates_path, class: 'btn btn-default pull-right' %>
  <% end %>
  <h1>Información de la actualización <strong>#<%= @alfabeta_update.id %></strong></h1>
</header>

<section class="content">
  <article class="box box-primary">
    <section class="box-body">

      <div class="row">
        <div class="col-md-12">
          <h5>Fecha y hora: <strong><%= @alfabeta_update.created_at.strftime("%d/%m/%Y - %H:%M:%S") %></strong></h5>
          <p><%#= @alfabeta_update.description %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <dl class="dl-horizontal">
                <h4 class="box-title">Acciones en la actualización:</h4>
              <div class="box-body">
                <dl class="dl-horizontal">
                  <pre><%= JSON.pretty_generate(@reporte) %></pre>
                </dl>
              </div>

          </dl>
        </div>
      </div>
    </section>
  </article>
</section>

  


