<div class="nested-fields">
  <div class="row">
    <div class="col-md-7">
      <fieldset class="form-group">
        <%= f.select :supplier_id,
				    Supplier.all.map{ |s| [s.name, s.id] },
						  {include_blank: true}, {class: 'form-control'} %>									
      </fieldset>
    </div>
    
    <div class="col-md-1">
      <fieldset class="form-group">
        <%= link_to_remove_association 'eliminar', f, class: 'btn btn-danger' %>
      </fieldset>
    </div>
    
  </div>
</div>