<ul class="list-group list-group-unbordered">
  <li class="list-group-item">
    <b> Puntos Acumulados</b>
    <a class="pull-right"> <%= period.accumulated %> </a>
  </li>
  <% if period.in_progress? %>
    <li class="list-group-item">
      <b> Vence en </b>
      <a class="pull-right"> <%= distance_of_time_in_words(DateTime.now, period.end_date) %> </a>
    </li>
  <% end %>
</ul>