<ul class="list-group list-group-unbordered">
  <li class="list-group-item">
    <b> Puntos Acumulados</b>
    <a class="pull-right"> <%= @service.last_period.accumulated %> </a>
  </li>
  <li class="list-group-item">
    <b> Vence en </b>
    <a class="pull-right"> <%= @service.days_to_expire %> días </a>
  </li>
</ul>