<%= form_for [@commentable, @comment], remote: true,
             html: {id: dom_id(@commentable, 'comments-form')} do |f| %>
               
  <fieldset class="form-group">
    <%= f.text_area :text, class: 'form-control', rows: 2, required: true %>
  </fieldset>
  
  <div class="actions">
    <%= f.submit 'Enviar Comentario',
        class: 'btn btn-primary',
        'data-disable-with' => 'Cargando...'  %>
  </div>
  
<% end %>