<%= form_for [@commentable, @comment], remote: true,
             html: {id: dom_id(@commentable, 'comments-form')} do |f| %>
               
  <div class="row">    
    <div class="col-md-12">
      <fieldset class="form-group">
        <%= f.text_area :text, class: 'form-control', rows: 2 %>
      </fieldset>
    </div>
  </div>
  
  <div class="actions">
    <%= f.submit 'Enviar Comentario', class: 'btn btn-primary', 'data-disable-with' => 'Cargando...'  %>
  </div>
  
<% end %>