<header class="content-header">
  <%= link_to 'Ver', @vademecum,
      class: 'btn btn-primary pull-right' %>
  <h1>Editar Vademecum</h1>
</header>

<section class="content">
  <%= render 'form' %>
</section>