<header class="content-header">
  <%= link_to 'Nueva Solicitud', [:new, @supplier, :supplier_request],
      class: 'btn btn-primary pull-right' %>
  <h1>Solicitudes</h1>
</header>

<!-- Main content -->
<section class="content">

  <%= render 'filter' %>

  <table class="table">
    <thead>
      <tr>
        <th> Fecha </th>
        <th> Cliente </th>
        <th> Estado </th>
        <th> Documento </th>
        <th> Correo </th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <%= render @supplier_requests %>
    </tbody>
  </table>

  <%= paginate @supplier_requests %>

</section>