<header class="content-header">
  <%= link_to 'Volver', [@supplier, :supplier_requests],
      class: 'btn btn-default pull-right' %>
  <h1>Nueva Solicitud</h1>
</header>

<section class="content">
  <%= render 'form' %>
</section>