
<div class="col-xs-6 col-md-4">
	<article class="box box-success">
		<section class="box-body item">
			<div class="item-image" style="background-image:url(<%= reward.image.url %>)">
			</div>
			<div class="item-description">
				<h3><span class="name"><%= reward.name %></span><span class="points"><%= reward.need_points %></span><span class='clear-both'></span></h3>
				
				<%# reward.code %>
				<%# t reward.reward_kind, scope: :reward_kinds %>
			</div>
		</section>
	</article>
</div>