<header class="content-header">
  <%# link_to 'Ver', @reward,
      class: 'btn btn-primary pull-right' %>
	<%= link_to 'Volver', rewards_path,
      class: 'btn btn-default pull-right' %>      
  <h1>Editar Premio</h1>
</header>

<section class="content">
  <%= render 'form' %>
</section>