<header class="content-header">
  <%= link_to 'Volver', [@supplier, :users],
      class: 'btn btn-default pull-right' %>
  <h1>Nuevo Usuario</h1>
</header>

<section class="content">
  <%= render 'form' %>
</section>