<%= f.fields_for :pfpc_suppliers do |p| %>
    <%= render partial: "services/pfpc_supplier_fields", locals: {f: p} %>
<% end %>
<div class="links">
  <%= link_to_add_association 'Nuevo prestador', f, :pfpc_suppliers, class: 'btn btn-default', partial: 'services/pfpc_supplier_fields' %>
</div>