default: &default
  adapter: mysql2
  encoding: utf8
  pool: 5
  username: root
  password:
  socket: /tmp/mysql.sock

development:
  <<: *default
  database: manes_development

test:
  <<: *default
  database: manes_test

production:
  <<: *default
  database: manes_development
