<header class="content-header">
  <h1>Actualizaciones</h1>
</header>

<!-- Main content -->
<section class="content">
  <article class="box box-primary">
    <section class="box-body">
      <table class="table">
        <thead>
        <tr>
          <th>ID</th>
          <th>Fecha</th>
          <th>Identificador Alfabeta</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <%= render @update_logs %>
        </tbody>
      </table>

      

    </section>
  </article>
</section>