<div class="box-body">
  <div class="row">
    <div class="col-md-12">
      <dl class="dl-horizontal">
        <div class="box box-primary">
          <div class="box-header">
            <h3 class="box-title">Acciones en la actualización:</h3>
          </div>
          <div class="box-body">
            <dl class="dl-horizontal">
              <pre><%= JSON.pretty_generate(@reporte) %></pre>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>