<header class="content-header">
<!-- FILTERS -->
  <h1>Autorizaciones</h1>
</header>

<!-- Main content -->
<section class="content">
<article class="box box-primary">
<section class="box-body">

  <%= render 'filter' %>
  
  <table class="table">
    <thead>
      <tr>
        <th>Código</th>
        <th>Prestador</th>
        <th>Vendedor</th>
        <th>Cliente</th>
        <th>Estado</th>
        <th>Fecha</th>
        <th></th>
      </tr>
    </thead>
  
    <tbody>
      <%= render @authorizations %>
    </tbody>
  </table>
  
  <%= paginate @authorizations %>

</section>
</article>
</section>