<aside class="main-sidebar">
  <section class="sidebar">

    <%= render 'application/aside_user_profile' %>

    <%#= render 'application/aside_search' %>

    <%= render 'application/aside_navigation' %>

  </section>
</aside>