<header class="content-header">
  <h1>Probando AdminLTE</h1>
</header>

<!-- Main content -->
<section class="content">
  <p>Lorem Ipsum sit amen lorem Ipsum sit amenLorem Ipsum sit amenLorem Ipsum sit amenLorem Ipsum sit amenLorem Ipsum sit amenLorem Ipsum sit amenLorem Ipsum sit amenLorem Ipsum sit amenLorem Ipsum sit amenLorem Ipsum sit amenLorem Ipsum sit amenLorem Ipsum sit amenLorem Ipsum sit amenLorem Ipsum sit amenLorem Ipsum sit amenLorem Ipsum sit amenLorem Ipsum sit amenLorem Ipsum sit amenLorem Ipsum sit amenLorem Ipsum sit amenLorem Ipsum sit amenLorem Ipsum sit amenLorem Ipsum sit amen</p>
</section>