<header class="content-header">
  <%= link_to 'Volver', products_path,
      class: 'btn btn-default pull-right' %>
  <h1>Nuevo Producto</h1>
</header>

<section class="content">
  <%= render 'form' %>
</section>