<header class="content-header">
  <%= link_to 'Nuevo Prestador', new_supplier_path,
      class: 'btn btn-primary pull-right' %>
  <h1>Prestadores</h1>
</header>

<!-- Main content -->
<section class="content">
<article class="box box-primary">
<section class="box-body">

  <%= render 'filter' %>

  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Activo</th>
        <th></th>
      </tr>
    </thead>
  
    <tbody>
      <%= render @suppliers %>
    </tbody>
  </table>

  <%= paginate @suppliers %>

</section>
</article>
</section>