<header class="content-header">
  <%= link_to 'Volver', user_sales_path,
              class: 'btn btn-default pull-right' %>
  <h1>Nueva Venta</h1>
</header>

<section class="content">
  <%= render 'form' %>
</section>