<ul class="sidebar-menu">

  <li class="header">Opciones</li>

  <li>
    <%= link_to root_path do %>
      <i class="fa fa-home"></i>
      <span>Inicio</span>
    <% end %>
  </li>

  <li>
    <%= link_to terms_of_use_path do %>
      <i class="fa fa-legal"></i>
      <span>Términos de uso</span>
    <% end %>
  </li>

</ul>