<header class="content-header">
  <h1>Bienvenido</h1>
</header>

<!-- Main content -->
<section class="content">

  <div class="row">
    <div class="col-md-12">
      <p>Vinyl gastropub neutra, organic scenester sriracha umami blog occupy put a bird on it. Offal sustainable four
        loko, tacos farm-to-table portland taxidermy. <strong>Banjo schlitz vinyl</strong>, small batch helvetica
        polaroid aesthetic try-hard VHS master cleanse. 3 wolf moon before they sold out cray, chambray kombucha
        dreamcatcher hella flannel. Gentrify cornhole hammock, beard four loko ennui cardigan yuccie crucifix iPhone
        austin plaid. Locavore mumblecore pour-over, bushwick put a bird on it gentrify organic ugh tofu. Dreamcatcher
        intelligentsia heirloom listicle chambray cred.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="info-box">
        <span class="info-box-icon bg-green">
          <i class="fa fa-cubes"></i>
        </span>
        <div class="info-box-content">
          <span class="info-box-text">Puntos acumulados</span>
          <span class="info-box-number"><%= current_user.cache_points %></span>
        </div>
      </div>
      <div class="info-box">
        <span class="info-box-icon bg-red">
          <i class="fa fa-cubes"></i>
        </span>
        <div class="info-box-content">
          <span class="info-box-text">Puntos por vencer</span>
          <span class="info-box-number">112</span>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="info-box">
        <span class="info-box-icon bg-yellow">
          <i class="fa fa-cubes"></i>
        </span>
        <div class="info-box-content">
          <span class="info-box-text">Próximo cierre</span>
          <span class="info-box-number">112</span>
        </div>
      </div>
      <div class="info-box">
        <span class="info-box-icon bg-aqua">
          <i class="fa fa-cubes"></i>
        </span>
        <div class="info-box-content">
          <span class="info-box-text">Otra información</span>
          <span class="info-box-number"></span>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <article class="box box-default">
        <section class="box-body box-profile">
          <h3 class="profile-username text-center">
            Productos acumulados
          </h3>

          <% for pp in @period_products %>
              <li class="list-group-item">
                <b> <%= pp.product %> </b>
                <div class="pull-right">
                  <%= pp.accumulated %> de <a> <%= pp.amount %> </a>
                </div>
              </li>
          <% end %>

        </section>
      </article>
    </div>
  </div>

</section>