<header class="content-header">
  <h1>Términos de uso</h1>
</header>

<section class="content">

  <% if should_accept_terms_of_use? %>
    <h4>
      Bienvenido <strong><%= current_user_name %></strong>.<br />
      Se le asignará una tarjeta con número <strong><%= current_user.card_number %></strong>.
      Por favor lea con atención los términos de uso:
    </h4>
  <% end %>

  <p class="small">Banjo pop-up blog leggings, small batch austin viral. Tote bag crucifix yuccie, 8-bit ennui austin chillwave everyday carry VHS tacos jean shorts whatever you probably haven't heard of them. Before they sold out food truck deep v, twee raw denim PBR&B blue bottle bitters cray. <strong>Kale chips</strong> +1 scenester farm-to-table waistcoat. Kitsch echo park pickled single-origin coffee bespoke, narwhal direct trade tacos gluten-free. Pop-up fingerstache disrupt crucifix +1, listicle pork belly banjo lo-fi celiac you probably haven't heard of them photo booth. Lo-fi disrupt letterpress, pinterest tattooed gastropub pug +1 8-bit wolf.</p>

  <h5>Mumblecore put a bird</h5>

  <p class="small">Chambray crucifix next level paleo godard, venmo mumblecore put a bird on it disrupt vegan bespoke scenester biodiesel normcore trust fund. Pug pickled waistcoat brunch cardigan church-key. Pickled letterpress bushwick ramps lo-fi. Food truck cliche tote bag occupy. Microdosing meh craft beer farm-to-table, forage thundercats 90's. Fap kinfolk typewriter four loko helvetica. XOXO small batch deep v lumbersexual selvage shoreditch organic, forage everyday carry freegan flexitarian gluten-free biodiesel swag.</p>

  <p class="small">Knausgaard kinfolk pitchfork craft beer, echo park put a bird on it meh franzen four loko art party. Squid seitan retro portland, umami pitchfork marfa church-key 90's keytar organic kitsch listicle yuccie williamsburg. Poutine sriracha selvage seitan skateboard, hoodie bicycle rights try-hard literally forage you probably haven't heard of them single-origin coffee. XOXO YOLO swag, squid chartreuse keytar waistcoat echo park. Fashion axe lo-fi narwhal, pabst direct trade cronut normcore venmo four loko tote bag vinyl. Chicharrones beard put a bird on it ennui. IPhone celiac gastropub hella ennui, listicle tilde direct trade cray banjo green juice mixtape hoodie keffiyeh.</p>
  
  <% if should_accept_terms_of_use? %>
    <br />
    <%= link_to 'Aceptar términos de uso', accept_terms_of_use_path,
      class: 'btn btn-block btn-lg btn-success', method: :post %>

    <%= link_to 'Cerrar Sesión', logout_path,
      class: 'btn btn-block btn-lg btn-danger', method: :delete %>
  <% end %>
</section>